.blog-border{ border: 1px #ccc solid; border-radius: 6px;}

/*博文列表*/
.blog-item{ clear:both; border-bottom: 1px solid #ddd; padding: 1.5em 1em 0.8em 1.5em;  overflow: hidden;}
.blog-title{ margin-bottom: 0.5em; font-size: 115%; font-weight: bold;}
.blog_descipt{ color: #777; font-size: small;}
.blog-tags{ font-size: 70%; color: #75878a; margin-top: 0.5em; display: inline-block; border-top: 1px #ddd solid;}
.blog-tags li{  float: left;  padding-top: 0.5em; margin-right: 1em;}

.tag-recommend, .tag-recommend a{ color:#c93756;}

/*选择器*/
.filter{ overflow:hidden; margin-bottom: 1em; padding: 1em 0 0.5em 1em;}

/*筛选器*/
.filter-item{ border-bottom: 1px #ddd dashed; padding-bottom: 0.5em;}

/*标签列表*/
.tag-list{ font-size: 90%;}
.tag-list li{ float: left; margin-right: 1em;}
.tag-list label{ font-weight: 100; cursor: pointer;}
.tag-list .tag-recommend label{ font-weight: 700; color: #c93756;}

/*页码*/
#page_goto span{ padding: 6px 4px;}
#page_goto input{ border: none; padding: 0; width: 2em; text-align: center;}

.blog-pages{margin: 20px 0;}
.blog-pages .pagination{margin: 0;}

/*搜索*/
.search{ font-weight: 700; padding: 0.5em 0; border-top: 1px #ddd dashed; margin-top: 0.2em;}
.search .keyword{ color: #c93756;}

/*博文页面*/
.blog_header{ overflow: hidden; padding: 1em 0em 0em 1em;}
.blog_header h3{ margin-top:10px;}
.blog_header h3{ color: #0d56a6;}
.blog_header li{ float: left; padding-right: 0.7em; font-size: small;}

.blog_content{ padding: 1em 1em 0;}
.blog_content p{ text-indent: 2em; margin: 5px 0; line-height: 1.6; font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
.blog_content .badge{ text-indent: 0;}
.blog_content img{ display:block; height:auto; max-width:90%; margin-left:2em;}

.blog_list_footer{ text-align: center;}
.blog_list_footer .blog_footer_tip{ display: block; width: 100%; padding:0.5em 0 0 0; margin-bottom: -0.5em; font-size: 1em;}

/*分享按钮*/
.share_btns{ border: 1px #ccc dashed; padding: 1em 0; margin: 1.5em 0 1em;}
.sponsor_btn{margin-top: -6px;margin-left: 6px;}

@media (max-width: 470px){
    .sponsor_btn{ margin-top: 0.5em;}
}

/*随机推荐*/
.side-list h4{ padding-top: 0.8em; padding-bottom: 0.5em; border-bottom: 1px #ccc solid;}
.side-list li{ margin-bottom: 0.2em; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/*侧边栏宽度兼容*/
@media (max-width: 991px){ 
    .col-xs-12{padding: 0;} .side-list{padding: 0 1em 0 1.5em;}
}
