<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>林臻飚的空间站</title>
    <!--全局样式-->
    <link rel="stylesheet" type="text/css" href="../static/css/all-2.0.1.css">
    <!--使用bootstrap框架-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!--百度收录自动提交-->
    <script src="../static/js/push.js"></script>
    <!--其他-->
    <link rel="shortcut icon" href="../static/images/ben.png" type="image/x-icon">
    <script src="../static/js/jquery.cookie.js"></script>
    <!--IE html5支持-->
    <!--[if lt IE 9]-->
    <script src="../static/js/html5shiv.min.js"></script>
    <!--[endif]-->
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top navbar-down" role="navigation">

    <h1 style="text-align:center;line-height: 10px;" >祝福</h1>
</div>

<div class="container">
    <div class="col-md-12 col-xs-12">
        <div style="margin-top: 5em" class="blog-border">
            <div class="blog-item">
                <div style="border-top-width: 0" class="blog-tags">
                    <h1>老爸</h1>
                    <h1>深深的祝福送到您的身边。愿您一生快乐，万事顺利，烦恼抛开；愿您幸福围绕，亲朋好友常聚身边；愿您财源滚滚，金银钞票用不完；愿您好运不断，笑逐颜开。儿子祝您生日快乐！</h1>
                    <h1>2019-6-3</h1>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="blog_list_footer">
            <span class="blog_footer_tip"></span>
        </div>
    </div>
</div>


<div id="footer" class="page-bottom">
    <div class="container">
        <p style="text-align: center;"><a style="color: #666;" href="{% url 'home' %}">首页</a>
            |<a style="color: #666;" href="http://www.beian.gov.cn/portal/index.do">浙ICP备19007951号-1</a></p>

    </div>


</div>
<script type="text/javascript">
    $(function () {
        //滚动事件
        $(window).scroll(function () {
            var top = $(window).scrollTop();
            var navbar = $(".navbar-fixed-top");

            if (top == 0) {
                $(".navbar-fixed-top").removeClass("navbar-down");
            } else {
                $(".navbar-fixed-top").addClass("navbar-down");
            }

            if (top > 350) {
                $("#scrolltop").fadeIn();
            } else {
                $("#scrolltop").fadeOut();
            }
        });

        //点击返回头部效果
        $("#scrolltop").click(function () {
            $("html,body").animate({scrollTop: 0});
        });

        //窗体改变大小事件
        $(window).resize(function () {
            //正文高度
            var body_height = $(document.body).outerHeight(true);

            //底部元素高度
            var bottom_height = $("#footer").outerHeight(true);

            //浏览器页面高度
            var window_height = $(window).height();

            //判断并调整底部元素的样式
            if ($("#footer").hasClass('page-bottom-abs')) {
                if (body_height + bottom_height >= window_height) {
                    $("#footer").removeClass('page-bottom-abs');
                }
            } else {
                if (body_height < window_height) {
                    $("#footer").addClass('page-bottom-abs');
                }
            }
        });

        //页面加载时，模拟触发一下resize事件
        $(window).trigger('resize');

        //检查登录状态和获取公告
        var user_menu = '<li><a href="/user/login_page">登录/注册</a></li>';
        $.ajax({
            type: "GET",
            url: "/user/check_is_login",
            cache: false,
            dataType: 'json',
            success: function (data) {
                var notice;
                if (data['code'] == '0') {
                    user_menu = data['user_menu'];
                    notice = data['notice'];
                } else {

                    notice = '暂无公告';
                }
                ;

                //$("#user_part").html(user_menu);
                $('.myRewards-text').html(notice);
                tctipConfig.list.notice.text = notice;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#user_part").html(user_menu);
            }
        });
    });
</script>


<script type="text/javascript">
    $(".pagination li a").each(function () {
        if ($(this).text() == "6") {
            $(this).parent().addClass("active");
        }
    });


    function page_goto(page) {
        var reg = /page=\d{0,2}/;
        var url = window.location.href;

        //判断是否有参数
        if (reg.test(window.location.href)) {
            url = url.replace(reg, 'page=' + page);
        } else if (url.indexOf("?") == -1) {
            url = url + '?page=' + page;
        } else {
            url = url + '&page=' + page;
        }
        //重定向
        window.location.href = url;
    }

    function page_jump() {
        var page = $("#page_goto input[type=text]")[0].value;
        page_goto(page);
    }

    /*绑定复选框事件*/
    $("#filter_form input[name=tag]").each(function () {
        $(this).change(function () {
            //移除“全部类别”的勾选
            $('#check_all').removeAttr("checked");
            //提交表单
            $('#filter_form').submit();
            //filter_params();
        });
    });
    //“全部类别”的复选框
    $("#check_all").change(function () {
        //判断是否选中“全部类别”，才去掉其他类别的勾选，并提交表单
        if ($("#check_all").is(':checked')) {
            $("#filter_form input[name=tag]").each(function () {
                $(this).removeAttr("checked");
            });
            $('#filter_form').submit();
            //filter_params();
        }
    });
    //“推荐”的复选框
    $("#recommend").change(function () {
        $('#filter_form').submit();
        //filter_params();
    });

    function filter_params() {
        window.location.href = '?' + $('#filter_form').serialize();
    }

    /*排序事件*/
    function blog_sort(sf, st) {
        $('#sort_sf').attr('value', sf);
        $('#sort_st').attr('value', st);
        $('#filter_form').submit();
        //filter_params();
    }

    /*设置排序文本*/
    function set_sort_content(field, sort_type) {
        var texts = $('.filter-item a[name=' + field + ']');
        var text = '';
        if (texts.length > 1) {
            text = texts[sort_type == '-1' ? 0 : 1].text.trim();
        }

        $('#sort_content').text(text);
    }

    set_sort_content('date', '-1');

    /*清除搜索*/
    function clear_keywords() {
        $('#keywords').attr('value', '');
        $('#filter_form').submit();
        //filter_params();
    }
</script>


</body>
</html>